snippet recl "React Class" b
import React, { Component } from 'react';

export default class ${1:MyClass} extends Component {

	render() {

		return (
			<div className='$1'>
			</div>
		);

	}
}
endsnippet
