snippet exfu "export function" b
export function $1($2) {
	$3
}
$4
endsnippet

snippet recl "React Class" b
import React, { Component } from 'react';

export default class ${1:MyClass} extends Component {

	render() {

		return (
			<div className='$1'>
				$1
			</div>
		);

	}
}
endsnippet

snippet im "import module" b
import ${1:module} from '$1';
endsnippet

snippet cl "console log" b
console.log($1);
endsnippet

snippet de "debugger" b
debugger;
endsnippet
